/*************************************************
**************************************************


Color Guide
****************/

:root {
    /*  HEADER AND CONTACT PRIMARY COLOUR */
    --Jet: #363636;
   /* FONT OUT OF DARK AND PAGE COLOUR */
    --Platinum: #E5E5E5;
   /* MAIN FONT COLOUR */
    --Gunmetal: #242F40;
   /* ACCENT AND HIGHLIGHT COLOUR */
    --Satin: #CCA43B;
   /* MAIN BODY FONT */
    --cabin: 'Cabin';
   /* HEADINGS FONT */
    --Roboto: 'Roboto Condensed';
  }
  
  
  /************************************************
  *************************************************
  0. CSS Reset ------------------------ 
  1. Universal Styles -----------------
  2. Navigation Bar Styles -------------- 
  3. Hero Section Styles ----------------- 
  4. Work Section Styles ------------------- 
  5. About / Contact Styles --------------------
  6. Footer Styles -------------------- 
  7. Buttons ----------- 
  8. Misc. Styles ----------- 
  *************************************************
  ************************************************/
  
  /*----------------------------------------------
  ------------------------------------------------
  0. CSS Reset
  ------------------------------------------------
  ----------------------------------------------*/
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    /*----------------------------------------------
    ------------------------------------------------
    1. Universal Styles
    ------------------------------------------------
    ----------------------------------------------*/
    body {
      Font-Family: 'Cabin';
      line-height: 1.5;
      color: var(--Gunmetal);
      background-color: var(--Platinum);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--Roboto);
  }
  
  .row {
    margin-bottom: 25px!important;
  }
  
    /*----------------------------------------------
    ------------------------------------------------
    2. Navigation Bar
    ------------------------------------------------
    ----------------------------------------------*/
    .navbar {
        background-color: var(--Jet);
    }

    .nav-link {
        color: var(--Platinum)!important;
    }
    
    .nav-link:hover {
        background-color: var(--Satin);
        border-radius: 5px;
        transition: 0.3s ease;
    }
    .navbar-toggler {
    background-color: var(--Satin);
    border: var(--Platinum) 2px solid;
}
    /*----------------------------------------------
    ------------------------------------------------
    3. Hero Section
    ------------------------------------------------
    ----------------------------------------------*/
    
    /*----------------------------------------------
    ------------------------------------------------
    4. Work Section
    ------------------------------------------------
    ----------------------------------------------*/

    .card-title {
        text-align: center;
    }
    
    /*----------------------------------------------
    ------------------------------------------------
    5. About / Contact Section
    ------------------------------------------------
    ----------------------------------------------*/
    
    /*----------------------------------------------
    ------------------------------------------------
    6. Footer Styles
    ------------------------------------------------
    ----------------------------------------------*/
    .footer {
      padding: 20px;
      clear: both;
      text-align: center;
      font-size: 20px;
    }
    
    /*----------------------------------------------
    ------------------------------------------------
    7. Buttons
    ------------------------------------------------
    ----------------------------------------------*/

    .btn {
        display: flex;
        justify-content: center;
    }


    .btn-primary
    {
     color: var(--Platinum);
     background-color: var(--Satin);
     border-color: var(--Satin);
    }
    
    .btn-primary:hover{
        background-color: var(--Jet);
        border-color: var(--Jet);
        box-shadow: 15px 15px 15px rgba(36,47,64,0.3); 
    }
    
    .btn-primary:active{
        background-color: var(--Jet)!important;;
        border-color: var(--Jet)!important;;
    }

    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: none!important;
    }

    .btn-primary:visited
    {
     color: var(--Platinum);
     background-color: var(--Satin);
     border-color: var(--Satin);
    }

  

    /*----------------------------------------------
    ------------------------------------------------
    8. Misc. Styles
    ------------------------------------------------
    ----------------------------------------------*/
    .sectionHeading {
        text-align: center;
        padding-bottom: 10px;
    }
  