/*************************************************
**************************************************


Color & Font Guide
****************/

:root {
  /*  HEADER AND CONTACT PRIMARY COLOUR */
  --Jet: #363636;
  /* FONT OUT OF DARK AND PAGE COLOUR */
  --Platinum: #e5e5e5;
  /* MAIN FONT COLOUR */
  --Gunmetal: #242f40;
  /* ACCENT AND HIGHLIGHT COLOUR */
  --Satin: #cca43b;
  /* MAIN BODY FONT */
  --cabin: "Cabin";
  /* HEADINGS FONT */
  --Roboto: "Roboto Condensed";
}

/************************************************
  *************************************************
  0. CSS Reset ------------------------ 
  1. Universal Styles -----------------
  2. Navigation Bar Styles -------------- 
  3. Hero Section Styles ----------------- 
  4. Work Section Styles ------------------- 
  5. About / Contact Styles --------------------
  6. Footer Styles -------------------- 
  7. Buttons ----------- 
  8. Misc. Styles -----------
  9. Media Queries ------------------- 
  *************************************************
  ************************************************/

/*----------------------------------------------
  ------------------------------------------------
  0. CSS Reset
  ------------------------------------------------
  ----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
    ------------------------------------------------
    1. Universal Styles
    ------------------------------------------------
    ----------------------------------------------*/
body {
  font-family: "Cabin";
  line-height: 1.5;
  color: var(--Gunmetal);
  background-color: var(--Platinum);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--Roboto);
}

.row {
  margin-bottom: 25px !important;
}

a {
  color: var(--Platinum);
}

a:hover {
  color: var(--Satin);
  text-decoration: var(--Platinum) underline 2px;
}

ul {
  list-style: none;
}

/*----------------------------------------------
    ------------------------------------------------
    2. Navigation Bar
    ------------------------------------------------
    ----------------------------------------------*/
.navbar {
  background-color: var(--Jet);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-link {
  color: var(--Platinum) !important;
}

.nav-link:hover {
  background-color: var(--Satin);
  border-radius: 5px;
  transition: 0.3s ease;
}
.navbar-toggler {
  background-color: var(--Satin);
  border: var(--Platinum) 2px solid;
}

.dropdown-item {
  color: var(--Platinum);
}

.dropdown-item:active {
  background-color: var(--Satin);
}

.dropdown-menu.show {
  background-color: var(--Jet);
}
.navbar-brand {
  margin-left: 20px;
}

.dropdown-item:hover {
  color: var(--Platinum);
  text-decoration: none;
  background-color: var(--Satin);
}

.navbar-dark .navbar-brand {
  color: var(--Platinum);
}
/*----------------------------------------------
    ------------------------------------------------
    3. Hero Jumbotron Section
    ------------------------------------------------
    ----------------------------------------------*/

.img-fluid {
  width: 20%;
  border: var(--Satin) 1px solid;
}

.jumbo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.display-4 {
  font-size: 2.5rem;
  margin-left: 20px;
}

.jumbotron {
  margin-bottom: 10px;
  padding-bottom: 15px;
  background-color: var(--Platinum);
}

.jumbotron:after {
  content: "";
  display: block;
  height: 2px;
  width: 275px;
  margin: 0 auto;
  border-bottom: 2px solid var(--Satin);
}

/*----------------------------------------------
    ------------------------------------------------
    4. Work Section
    ------------------------------------------------
    ----------------------------------------------*/

.card-title {
  text-align: center;
}

.card:hover {
  box-shadow: 8px 8px 8px #363636;
  transform: scale(1.2);
}

.card {
  background-color: var(--Platinum);
  height: 95%;
  transition: 0.6s;
  margin: 1rem;
}
/*----------------------------------------------
    ------------------------------------------------
    5. About / Contact Section
    ------------------------------------------------
    ----------------------------------------------*/

.aboutcard {
  background-color: var(--Platinum);
  border: 0px;
}

.buttonflex {
  display: flex;
  justify-content: space-around;
}
/*----------------------------------------------
    ------------------------------------------------
    6. Footer Styles
    ------------------------------------------------
    ----------------------------------------------*/

.footer {
  clear: both;
  text-align: center;
  font-size: 20px;
}

.columnabout {
  display: flex;
  width: 70%;
  padding: 10px;
  margin: auto;
}
.contactcolumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: var(--Jet);
  color: var(--Platinum);
}

.contactcolumn p {
  padding: 0px 50px;
}

/*----------------------------------------------
    ------------------------------------------------
    7. Buttons
    ------------------------------------------------
    ----------------------------------------------*/

.btn {
  display: flex;
  justify-content: center;
}

.btn-primary {
  color: var(--Platinum);
  background-color: var(--Satin);
  border-color: var(--Satin);
  box-shadow: 5px 5px 5px rgba(36, 47, 64, 0.3);
}

.btn-primary:hover {
  background-color: var(--Jet);
  border-color: var(--Jet);
  box-shadow: 15px 15px 15px rgba(36, 47, 64, 0.3);
}

.btn-primary:active {
  background-color: var(--Jet) !important;
  border-color: var(--Jet) !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary:visited {
  color: var(--Platinum);
  background-color: var(--Satin);
  border-color: var(--Satin);
}

.footer-link {
  color: #242f40;
  text-decoration: underline 2px #cca43b;
}

.footer-link:hover {
  color: var(--Platinum);
  background-color: var(--Satin);
}

.btn-primary:focus {
  color: var(--Platinum);
  background-color: var(--Jet);
}

.btn-sm {
  box-shadow: 1px 1px 1px var(--Platinum)
}



/*----------------------------------------------
    ------------------------------------------------
    8. Misc. Styles
    ------------------------------------------------
    ----------------------------------------------*/

.center {
  text-align: center;
}

.sectionHeading {
  text-align: center;
  padding-bottom: 10px;
}

a.gunmetal {
  color: var(--Gunmetal) !important;
}

.animate {
  color: var(--Satin);
  animation: blinker 1.75s linear infinite;
  text-decoration: none;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*----------------------------------------------
    ------------------------------------------------
    9. Media Queries
    ------------------------------------------------
    ----------------------------------------------*/

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .navbar-collapse {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 600px) {
  .display-4 {
    margin-top: 30px;
    font-size: 1.5rem;
  }

  .lead {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 40px;
  }

  .cardContainer {
    margin-bottom: 5px;
  }
}
